body{
	background:url("https://images.unsplash.com/photo-1444044205806-38f3ed106c10?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=9c53d289059cccef8ab155f3269af87a") no-repeat center center fixed;
	background-size:cover;
	 -webkit-background-size: cover;
	-moz-background-size: cover;
		-o-background-size: cover;
	color:white;
	max-width: 1200px;
	padding:50px;
}


.container{
	margin: 0 auto;
}


textarea{
	font-family: open sans;
	padding: 10px !important;
}
.head{

font-family: Cinzel;
font-size: 2.1em;
border-bottom: 2px solid #eee;
}
.smallhead{
font-family: 'Raleway';
font-size: 1.1em;
padding-bottom: 10px;
}

select{
	font-family: open sans;

}

.middle{

	border-left:2px solid #ddd;
	border-right:2px solid #ddd;
}
.col-md-2{
	padding-top:15px;


}
.col-md-4{
	overflow: hidden;
}


/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

body{
	padding: 10px;
}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	body{
		padding: 10px;
	}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	body{
		padding: 10px;
	}
}
